<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipe.fwd.service.BoardMapper">
	<select id="list" resultType="recipe.fwd.vo.BoardVo">
		SELECT r_no, r_title, r_writer, r_date FROM reboard ORDER BY r_no DESC
	</select>
	
	
	<insert id="boardinsert">
		INSERT INTO reboard ( m_no, r_title, r_writer, r_content, r_date) VALUES (#{m_no}, #{r_title}, #{r_writer}, #{r_content}, SYSDATE())
	</insert>
	
	
</mapper>