*{
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
}
.footer_image{
	text-align:center;
	width: 1920px;
	height: 418px;
	background-image: url('/images/main/footer.jpg');
}

footer{
	display: flex;
	background: #1f1f1f;
	padding:30px;
}

footer > div:first-child {
	flex: 3;
	text-align: center;
	color: #fff;
}

footer > div:last-child {
	flex:9;
	color: #fff;
}





