*{
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
}
.body{
	background-image: url("/images/main/intro2.jpg");
	width:100%;
	height: 700px;
	background-repeat: no-repeat;
}


h1{
	font-size: 48px;
	font-weight: 100;
}
.contents1{
	font-size: 20px;
	font-weight: 100;
	padding-bottom: 10px;
}

.contents1_bold{
	font-size: 18px;
	font-weight: bold;
}

.contents2{
	font-weight: 100;
	font-size: 14px;
}

button{
	background: #2F7AF4;;
	border: none;
	width:100px;
	height: 30px;
	color: #fff;
	font-size: 13px;
	line-height: 30px;
	border-radius: 10px;
	cursor: pointer;
}

.intro_bg{
	background-image: url("/images/main/intro2.jpg");
	width:100%;
	height: 718px;
}
.intro_text{
	width: 100%;
	margin: 250px auto 250px auto;
	text-align: center;
}

.intro_text > h1,
.intro_text > h4{
	color: black;
}

.header{
	display:flex;
	width: 1280px;
	margin:auto;
	height:90px;
}

.search_area{
	width: 400px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 50px;
}

.search_area > form > input{
	border: none;
	width: 310px;
	height: 40px;
	background: rgba(0,0,0,0.0);
	color: #fff;
	padding-left: 10px;
}

.search_area > form > span{
	width: 50px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.nav{
	display: flex;
    line-height: 40px;
	width: 750px;
    height: 40px;
    margin-top: 50px;
    margin-left: 230px;
	border-radius: 5px;
    background: rgba(0,0,0,0.5);
    flex-direction: row;
}

.nav > li{
	margin-left: 58px;
}

.nav > li > a{
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
}

.amount{
	position: relative;
	top: -66px;
	display: flex;
	width:1280px;
	margin: auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.amount > li {
	flex: 1;
	height: 132px;
	
}

.amount > li > div{
	text-align: center;
	height: 57px;
	margin-top: 37px;
}

.amount > li:not(:last-child) > div{
	border-right: 1px solid #E1E1E1;
}


/* main_text0 */

.main_text0{
	width: 100%;
	height: 600px;
	margin-top: -132px;
	background: #f1f2f3;
	
}

.main_text0 > h1{
	padding-top:116px;
	text-align: center;
}

.main_text0 > .contents1 {
	text-align: center;
}

.icons{
	display: flex;
	margin:auto;
	width: 1280px;
	height: 302px;
}

.icons > li{
	flex:1;
	height: 302px;
	background: white;
	margin-top: 49px;
	text-align: center;
}

.icons > li > .icon_img{
	margin-top: 18px;
}

.icons > li:not(:last-child){
	margin-right: 20px;
}

.icons .contents2{
	width: 240px;
	margin: 10px auto;
	
}

.more{
	width:100px;
	height: 30px;
	background: #2F7AF4;
	color: #fff;
	font-size: 13px;
	line-height: 30px;
	margin: 20px auto;
	border-radius: 10px;
}

/* menu2 */

.main_text1{
	width:100%;
	height:659px;
}

.main_text1 > h1{
	padding-top: 50px;
	text-align: center;
}

.main_text1 > .contents1{
	margin-top: 20px;
	text-align: center;
}

.service {
	text-align: center;
	width: 1280px;
	display: flex;
	margin: 45px auto;
	height: 428px;
}
.service > .youtube1{
	flex:1;
}
.service > .youtube2{
	flex:1;
	padding-left: 20px;
}

/* menu3 */
.footer{
	text-align:center;
	width: 100%;
	height: 418px;
	background-image: url('/images/main/footer.jpg');
}











